<!DOCTYPE html>
<html>
  <head>
    <title>Assignment Submission</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  </head>
  <body style="text-align: center; padding-top: 20%;">
    <form method="post" enctype=multipart/form-data>
        <input type='email' id='email' placeholder='Email' name="email"/><br>
        <label for="assignment0">Assignment 0  :</label>
        <input type="file" name="assignment0" id="assignment0" accept=".py" /><br>
        <label for="assignment1">Assignment 1  :</label>
        <input type="file" name="assignment1" id="assignment1" accept=".py" /><br>
        <label for="assignment2">Assignment 2  :</label>
        <input type="file" name="assignment2" id="assignment2" accept=".py" /><br>
        <label for="assignment3">Assignment 3  :</label>
        <input type="file" name="assignment3" id="assignment3" accept=".py" /><br>
        <input type='submit' value='Submit' />
    </form>
      
      
  </body>
</html>

